#wrapper
{
	width: 100%;
	clear: both;
}

body
{
	margin: 0px;
}

/* Aligning the header and the body */
.header
{
	width: 20%;
	float: left;
}

.info
{
	width: 80%;
	float: left;
}

/* Hovering for the header links */

.header
{
	text-align: center;
}

.header ul
{
	overflow: hidden;
	list-style-type: none;
	margin: 0;
	text-align: center;
	padding-left: 0px;
}

.header a
{
	text-align:center;
	display: flex;
	justify-content: center;
	margin-bottom: 10%;
	height: 10%;
	vertical-align: middle;
	display: flex;
	align-items: center;
}
	
.header a:hover
{
	background-color:blue;
}

/* Body Centering */
.info
{
	text-align: center;
}
