body
{
	margin: 0px;
	padding: 0px;
	font-family: Sans-Serif;
}

#wrapper
{
	width: 100%;
	clear: both;
}

/* Aligning the header and the body */
.header
{
	width: 15%;
	float: left;
}

.info
{
	width: 85%;
	float: left;
}

/* Hovering for the header links */

.header
{
	text-align: center;
}

.header div
{
	box-shadow: 20px 2px 1px #888888;
}	

.header ul
{
	overflow: hidden;
	list-style-type: none;
	margin: 0;
	text-align: center;
	padding-left: 0px;
}

.header
{
	font-family: Sans-Serif;
}

.header li
{
	text-align:center;
	display: flex;
	justify-content: center;
	height: 14%;
	vertical-align: middle;
	display: flex;
	align-items: center;
	color: black;
	text-decoration: none;
}

.header a
{
	text-decoration: none;
	color: black;
	font-size: 150%;
}

.header div
{
	border-left: thick solid #ff0000;
}

.header img
{
	padding-bottom: 10%;
}
	
.header hr
{
	height: .1%;
	background-color: rgba(0,0,0,0.6);
}
	
.header li:hover
{
	background-color:rgba(135,206,235,0.2);
}

.current 
{
	background-color:rgba(135,206,235,0.8) !important; 
}

/* Body Centering */
.info
{
	text-align: center;
}

.info h1
{
	font-weight: normal;
	font-size: 300%;
	color: rgb(135,206,235);
}

.info h2 h3
{
	font-weight: normal;
}

.info a
{
	color: rgb(135,206,235);
	text-decoration: none;
}

.email
{
	font-size: 130%;
}

.left
{
	margin-left: 15%;
	margin-right: 0%;
	float: left;
	text-align: left;
	width: 30%;
	font-size: 130%;
}

.right
{
	text-align: left;
	font-size: 130%;
	width: 30%;
	margin-left: 55%;
}
